html {
    font-size: 12pt
   
}

body {
    background-image: url('../image/funky-lines.png');
    background-repeat: repeat;
}

.spacing{
    margin-top: 100;
}

.calendar { margin-left: -1%; }

.cld {
    height: 50px;
    width: 13.25%;
    float: left;
    margin-left: 1%;
    left: 1%;
    margin-bottom: 1%;
    background: none;
    border: 0;
}

.cld>span {
    margin-right: 15%;
    margin-top: 15px; 
    display: inline-block;
}

.cld-day {    
    background-color: #F9F8FC;
    border: 1px solid #EDEDED;
    text-align: right;
}

.cld-day:hover {    
    border-color: #6c757d;
}

.cld-selected {
    background-color: #13B955;
    border: 1px solid #13B955;
    color:  white;
}

.cld-selected:hover {
    border-color: #1b722f;
}

.read-only>.cld-day:hover {
    background-color: #F9F8FC !important;
    border: 1px solid #EDEDED !important;
    text-align: right !important;
}

.read-only>.cld-selected:hover {
    background-color: #13B955 !important;
    border: 1px solid #13B955 !important;
    color:  white !important;
}

.cld-header>* {
    display: inline-block;
}

.cld-header>h3 {
    width: 80%;
}

.cld-header>button {
    width: 10%;
}

#profilePic {
    width: 200px;
    height: 200px;
}

#profilePicButton {
    position: relative;
    text-align: center;
    height: 40px;
    width: 40px;
    top: -60px;
    left: 160px;
}

#profilePicButton>button {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    font-size: 1.17rem;
}

.postfeed {
    border-bottom: #6c757d solid;
}

.navbar-muzer {
    background-color: #593196 !important;
    color: white !important;
    margin-bottom: 100px;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}

.small-profile {
    height: 45px;
}

.postSpacing {
    margin-top: 10px;
}

.ui.selection.dropdown
{
    border-radius: 0;
    border-color:#cbc8d0;
}
.ui.selection.dropdown:hover
{
    border-color:#cbc8d0;
}
.ui.selection.active.dropdown {
 border-color:#593196;
}
.ui.selection.active.dropdown .menu {
 border-color:#593196;
 border-radius: 0;
}
.ui.selection.dropdown:focus {
 border-color:#593196;
}
.ui.selection.dropdown:focus .menu {
 border-color:#593196;
}
.ui.selection.active.dropdown:hover {
 border-color:#593196;
 box-shadow: 0 0 5px rgba(100,65,164,0.4);
}
.ui.selection.active.dropdown:hover .menu {
 border-color:#593196;
 box-shadow: 0 0 5px rgba(100,65,164,0.4);
}
.ui.label {
    border-radius: 0;
}